body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: linear-gradient(-45deg, #ECB602, #FFD524, #55185D, #290849);
  animation: gradientBG 30s, ease-in-out infinite;
  background-size: 400% 600%;

}

@keyframes gradientBG {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  1000% {
    background-position: 0% 50%;
  }
  
}

.token {

  width: 300px;
  box-shadow: 0px 8px 16px rgba(5, 5, 5, 0.3);
  padding: 2px 16px;
  margin: 16px;
  border-radius: 8px;
  background: url () repeat;
  background: linear-gradient(-45deg, #ECB602, #FFD524, #55185D, #290849);
  animation: gradientBG 30s, ease-in-out infinite;
  background-size: 400% 600%;
}

img {
  border: .3px rgba(#e0e0e0); 
  box-shadow: 10px 10px 8px rgba(#111111);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background: linear-gradient(-45deg, #ECB602, #FFD524, #55185D, #290849);
  animation: gradientBG 30s, ease-in-out infinite;
  background-size: 400% 600%;

  
}

.container-filled{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 15%
}